<!DOCTYPE html>
<html lang="ja">
<head>
        <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
        <%- include('../partials/nav-header'); %>
</header>

<main>
	<div class="row">
		<div class="col-sm-8">
			<div class="jumbotron">
				<h1>About me</h1>
				<p>welcome</p>
				<img src="https://hidamari-houmon.land/wp-content/uploads/2022/05/IMG20220508153341-scaled.jpg" alt="duffy and sherrymay at Yono Park" />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="well">
				<h3>Look I'm A Sidebar!</h3>
			</div>
		</div>
	</div>
</main>

<footer>
        <%- include('../partials/footer'); %>
</footer>

</body>
</html>